<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>48359969529-ugsn4e6p4r6rg8rrq1pt6ptia78caf01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48359969529-ugsn4e6p4r6rg8rrq1pt6ptia78caf01</string>
	<key>API_KEY</key>
	<string>AIzaSyA_2EdOT8xcSHvU4ts9aVkxNZLMF4h3wmE</string>
	<key>GCM_SENDER_ID</key>
	<string>48359969529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps.myt.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-aa5fb</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-aa5fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48359969529:ios:e4f77365d0422b9e</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-aa5fb.firebaseio.com</string>
</dict>
</plist>